<p>Updated at <%= @contact.friendly_time %></p>

<h2><%= @contacts %></h2>
<h2><%= @contact.email %></h2>
<h2><%= @contact.phone_number %></h2>
<p><%= @contact.bio %></p>

<h2>Groups that <%= @contact.first_name %> belongs to:</h2>
<h3><% @contact.groups.each do |group| %></h3>
  <p><%= @contact.group_list %></p>

<%= link_to "Edit", "/contacts/#{@contact.id}/edit" %>
<%= link_to "Delete", "/contacts/#{@contact.id}", method: :delete %>